<% layout("/layouts/boilerplate") %>

<style>

  @media screen and (max-width: 1272px) {
    .show-card {
        margin-left: 100px !important;
      }

      .show-img {
        width: 800px !important;
        height: 550px !important;
      }

      .btns {
        margin-right: 70px !important;
      }

      .review-st {
        margin-left: 90px !important;
      }

      #comments textarea {
        width: 800px !important;
      }

      #map {
        width: 850px !important;
      }

      #map-res {
        margin-left: 90px !important;
      }
  }

  @media screen and (max-width: 992px) {
    .show-card {
      margin-left: 50px !important;
    }

    .show-img {
      width: 600px !important;
      height: 450px !important;
    }

    .btns {
      margin-right: 70px !important;
    }

    .review-st {
      margin-left: 70px !important;
    }

    #comments textarea {
      width: 600px !important;
    }

    #map {
      width: 650px !important;
    }

    #map-res {
      margin-left: 30px !important;
    }
  }

  @media (max-width: 767px) {
    .show-card {
      margin-left: 50px !important;
    }

    .show-img {
      width: 450px !important;
      height: 450px !important;
    }

    .btns {
      margin-right: 70px !important;
    }

    .review-st {
      margin-left: 70px !important;
    }

    #comments textarea {
      width: 400px !important;
    }

    .card {
      width: 400px !important;
    }

    #map {
      width: 450px !important;
    }

    #map-res {
      margin-left: 50px !important;
    }
  }

  @media (max-width: 536px) {

    .show-card  {
      margin-left: 70px !important;
    }
    
    .show-img {
      width: 300px !important;
      height: 400px !important;
    }

    #map {
      width: 300px !important;
    }
  }
</style>

<!-- Script for Map -->
<script>
    const mapToken = "<%= process.env.MAP_TOKEN %>";
    const listing = <%- JSON.stringify(listing) %>;
</script>


<!-- Main body -->
<div class="row mt-3" id="show-body">

    <!-- Title -->
    <div class="col-8 offset-3">
        <h3 id="lis-tit"><%= listing.title %></h3>
    </div>

    <div class="card col-6 offset-3 show-card listing-card">
        <!-- image -->
        <img 
            src="<%= listing.image.url %>" 
            class="card-img-top show-img" 
            alt="listing_image""
        />                   
        <!-- title -->
        <div class="card-body">
            <p class="card-text mt-2"> Owned by <i><%= listing.owner.username %></i> </p>

                <p class="card-text"> <b>Description : </b><%= listing.description %> </p>
                <p class="card-text"> <b>Cost : </b> &#8377; <%= listing.price.toLocaleString("en-IN") %> </p>
                <p class="card-text"> <b>Place :&nbsp;&nbsp;</b><i class="fa-solid fa-location-dot">&nbsp;</i> <%= listing.location %> </p>
                <p class="card-text"> <b>Country :&nbsp;&nbsp;</b><i class="fa-solid fa-globe">&nbsp;</i><%= listing.country %> </p>
        </div>
    </div>
    <br> 

    <!---------- Buttons ------->
    <% if (currUser && listing.owner._id.equals(currUser._id)) { %>

        <div class="btns mb-3" style="margin-left: 10px">
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>

            <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                <button class="btn btn-dark offset-5">Delete</button>
            </form>
        </div>
    <% } %>

    <!-- Reviews-->
    <div class="col-8 offset-3 mb-3 review-st">
        <% if(currUser) { %>
            <hr class="hrshow">
            <h4><i class="fa-regular fa-comment"></i> Leave a Review</h4>

            <!------- Form for Rating and Comment -------->
            <form method="POST" action="/listings/<%= listing._id %>/reviews" novalidate class="needs-validation">

            <!-- Rating star Style -->
              <div class="mt-3 mb-3">
                  <label for="rating" class="form-label"><i id="rating">Rating</i></label>
                  
                  <fieldset class="starability-slot">
                      <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                      <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                      <label for="first-rate1" title="Terrible">1 star</label>
                      <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                      <label for="first-rate2" title="Not good">2 stars</label>
                      <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                      <label for="first-rate3" title="Average">3 stars</label>
                      <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                      <label for="first-rate4" title="Very good">4 stars</label>
                      <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                      <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
              </div>

              <!------- Comments ----->
              <div class="mt-3 mb-3" id="comments">
                  <label for="comment" class="form-label">Comments</label>
                  <textarea 
                      name="review[comment]" 
                      id="comment" 
                      cols="30" 
                      rows="5" 
                      class="form-control"
                      required>
                  </textarea>
                  <div class="invalid-feedback ">
                      Please add some comments for review
                  </div>
              </div>
                <button class="btn btn-success ">Submit</button>
            </form>
            <hr>
        <% } %>

        
        <!-------- Reviews ------->
        <% if(listing.reviews.length > 0 ) { %>
        <div class="row">
            <p class="allreview"><b>All Reviews</b></p>
            <% for (review of listing.reviews) { %>
                <div class="card col-5 ms-3 mb-2" id="card-body">
                    <div class="card-body">
                        <h5 class="card-title mt-2"><i class="fa-solid fa-circle-user fa-lg" style="color: #ff0000;">&nbsp;</i><%= review.author.username %></h5>

                        <p class="starability-result card-text" data-rating="<%= review.rating %>">
                        </p>

                        <p class="card-text mb-4"><%= review.comment %></p>

                        <% if(currUser && currUser._id.equals(review.author._id)) {%>
                            <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" class="mb-3">
                                <button class="btn btn-sm btn-dark">Delete</button>
                            </form>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </div>  
        <% } %>
    </div>

    <!----------------- Map ------------------->
    <div class="col-8 offset-3 mb-4" id="map-res">
        <h4 class="maph3"><i class="fa-solid fa-compass fa-spin fa-sm" style="color: #ff0000"></i
            >&nbsp;Where you'll be</h4>

            <p
                class="card-text maph3"
                id="location-p"
                style="margin-top: 10px; font-weight: 100 !important"
                >
                <%= listing.location %>, <%= listing.country %>
                </p>
            <div style="height: 20px"></div>
        <div id="map"></div>
    </div>
  
</div>

<!-------- Script for Map ------>
<script src="/js/map.js"></script>